@{
    ViewData["Title"] = "Angel";
}

<h2>Sumar</h2>
<hr />

<form method="post">
    <label>Número 1:</label>
    <input type="number" name="num1" step="any" required />
    <br /><br />

    <label>Número 2:</label>
    <input type="number" name="num2" step="any" required />
    <br /><br />

    <button type="submit">Calcular</button>
</form>

@if (ViewBag.Resultado != null)
{
    <hr />
    <h3>Resultado: @ViewBag.Resultado</h3>
}

<br />
<a asp-action="Index">Volver al menú</a>
@{
    ViewData["Title"] = "Angel";
}

<h2>Restar</h2>
<hr />

<form method="post">
    <label>Número 1:</label>
    <input type="number" name="num1" step="any" required />
    <br /><br />

    <label>Número 2:</label>
    <input type="number" name="num2" step="any" required />
    <br /><br />

    <button type="submit">Calcular</button>
</form>

@if (ViewBag.Resultado != null)
{
    <hr />
    <h3>Resultado: @ViewBag.Resultado</h3>
}

<br />

